@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to ArmyManagementSystem</h1>

    <p>
        Thank you for using our app. This system is designed to help you manage various aspects of army operations and personnel.
    </p>

    <p>
        Please use the navigation menu to explore the different features and functionalities available in the app.
    </p>
</div>
